body{
    background-color: #222;
    color: #ee6;
}
h1{
    text-align: center;
}
p{
    font-family: sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color:#eee;
}
strong{
    border-bottom: 1px solid white;
}
.the-force{
    background-color: #444;
    font-weight: bold;
}
.light-side{
    color: #66f;
}
.dark-side{
    color: #f33;
}
#og-trilogy{ list-style-type: circle;
}
#og-trilogy + 3 + ul{
    padding-left:60px;
}
#og-trilogy + h3 + ul + h3 + ul li:last-child{
    margin-top:20px;
}
h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
}
#first-line{
    color: #efe;
}
h1:hover{
    color: #ee6;
}
a:visited{
    color:gray;
}
a:not (href){
    font-style:italic;
}
.moviles-list {
    background-color: #111;
}
.movies-list{
    background-color: #333;
}
